[Unit]
Description=Start/Stop solr

[Service]
Type=simple
User=root
Group=root
ExecStart={{ solr_dir }}/solrslave/bin/init.d/solr start
RemainAfterExit=true
ExecStop={{ solr_dir }}/solrslave/bin/init.d/solr stop
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target